<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.app.application.DrApp"
        android:allowBackup="true"
        android:icon="@drawable/doctor_400x400"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:screenOrientation="portrait"
         >
        <!-- android:theme="@style/CustomActionBar" > -->

        <activity
            android:name="com.main.activities.MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask"
            >
        </activity>
        <activity android:name="SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
       

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7fd7cd14a762a748b44b999853f19a126c582c1c" />
        <activity android:name="TwitterLoginActivity"></activity>
    </application>

</manifest>